nav ul a.active{
    text-decoration: underline;
    color: red;
}
/* .ban{
    background:url('/src/assets/donategoods.jpg') 
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color: red;
} */